.container_login
{
    background: green;
    margin: 20px auto;
    width: 60%;
    height: 350px;
    box-shadow: 0px 4px 4px 0px black;  
}
.container_login input
{
    border: 1px solid black;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
    padding: 5px;
}
.container_login #btnLog
{
    font-size: 20px;
    width: 22%;
    margin-left: 45%;
    margin-top: 2%;
}
.container_login h1
{
    margin: 50px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    col: #2aa197;
    text-shadow: 0px 2px 4px rgb(36, 36, 36);
    border-bottom: 4px solid #2aa197;
}
.container_login #btnLog:hover
{
    text-shadow: 0px 2px 4px #2aa197;
    font-size: 25px;
}
#barclick
{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    position: absolute;
    width: 30%;
    top: 30px;
    right: 0px;
    margin-right: -60%;
}
#barclick h1, p
{
    margin: 0;
    text-align: center;
    line-height: 200%;
}
#imgclick
{
    position: absolute;
    top: 175px;
    right: 0;
    margin-right: 1%;
    transform: rotate(0deg);
}
#imgclick img
{

    height: 50px;
    width: 50px;
}
#imgclick:hover 
{
    cursor: pointer;
}

@media screen and (max-width: 900px)
{
    #barclick
    {   
        top: 400px;
        width: 500px;
        border-radius: 20px;
        margin-right: 50vw;
        transform: translateX(50%);
    }
    #imgclick
    {
        display: none;
    }
}

@media screen and (max-width: 500px)
{
    .container_login
    {
        height: 400px;
    }
    #barclick
    {   
        top: 500px;
        width: 300px;
        border-radius: 5px;
        margin-right: 50vw;
        transform: translateX(50%);
    }
    #imgclick
    {
        display: none;
    }
    .container_login #btnLog
    {
        margin-left: 37%; /* magic number sorry*/
    }
}